**/*.vkb
**/*.cache
**/*.bin
**/*.scc

/bin/
/build/
/out/
*.obj
*.o
*.exe
*.dll
*.so
*.lib
*.a
*.ilk
*.pdb

.vs/
.vscode/
*.suo
*.user
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.DS_Store
Thumbs.db

/external/
/dependencies/

*.log
*.tmp
temp/
